<%- include('../template/header'); %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Transaction History</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-default">

                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="/tnx_srch" method="post">
                            <div class="row" id="divToPrint">
                                <div class="col-md-12">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <!-- <th></th> -->
                                                <th>#</th>
                                                <th>Transaction date and time</th>
                                                <th>Transaction ID</th>
                                                <th>Customer Name</th>
                                                <th>Customer Phone</th>
                                                <th>Biller Name</th>
                                                <th>Amount</th>
                                                <th>Approval Ref. No.</th>
                                                <th>Status</th>
                                                <th>Created By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var i=1; result.forEach((dt)=> { %>
                                                <tr>
                                                    <!-- <td><input type="radio" name="radio" id="radiotnxmobbas" value="2"></td> -->
                                                    <td>
                                                        <%= i; %>
                                                    </td>
                                                    <td>
                                                        <%= new Date(dt.date).toLocaleString('en-IN'); %>
                                                    </td>
                                                    <td>
                                                        <%= dt.tnx_id; %>
                                                    </td>
                                                    <td>
                                                        <%= dt.customer_name; %>
                                                    </td>
                                                    <td>
                                                        <%= dt.customer_phone; %>
                                                    </td>
                                                    <td>
                                                        <%= dt.biller_name; %>
                                                    </td>
                                                    <td>
                                                        <%= dt.bill_amt/100; %>
                                                    </td>
                                                    <td>
                                                        <%= dt.approval_ref_no; %>
                                                    </td>
                                                    <td><span class="text-bold text-success">
                                                            <%= dt.status; %>
                                                        </span></td>
                                                    <td>
                                                        <%= dt.created_by; %>
                                                    </td>

                                                </tr>
                                                <% i++; }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <center><button type="button" class="btn btn-outline-success mt-4"
                                    onclick="printDiv()">Print</button></center>
                        </form>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../template/footer'); %>

        <script>
            $(function () {
                // $("#example1").DataTable({
                // "responsive": true, "lengthChange": false, "autoWidth": false,
                // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                // }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                });
            });
        </script>
        <script>
            function printDiv() {

                var divToPrint = document.getElementById('divToPrint');

                var WindowObject = window.open('', 'Print-Window');
                WindowObject.document.open();
                WindowObject.document.writeln('<!DOCTYPE html>');
                WindowObject.document.writeln('<html><head><title></title><style type="text/css">');


                WindowObject.document.writeln('@media print { .center { text-align: center;}' +
                    '                                         .inline { display: inline; }' +
                    '                                         .underline { text-decoration: underline; }' +
                    '                                         .left { margin-left: 315px;} ' +
                    '                                         .right { margin-right: 375px; display: inline; }' +
                    '                                          table { border-collapse: collapse; font-size: 10px;}' +
                    '                                          th, td { border: 1px solid black; border-collapse: collapse; padding: 6px;}' +
                    '                                           th, td { }' +
                    '                                         .border { border: 1px solid black; } ' +
                    '                                         .bottom { bottom: 5px; width: 100%; position: fixed ' +
                    '                                       ' +
                    '                                   } } </style>');
                WindowObject.document.writeln('</head><body onload="window.print()">');
                WindowObject.document.writeln(divToPrint.innerHTML);
                WindowObject.document.writeln('</body></html>');
                WindowObject.document.close();
                setTimeout(function () {
                    WindowObject.close();
                }, 10);

            }
        </script>