<%- include('../template/header'); %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>General Form</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">General Form</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">bs-stepper</h3>
                            </div>
                            <div class="card-body p-0">
                                <div class="bs-stepper">
                                    <div class="bs-stepper-header" role="tablist">
                                        <!-- your steps here -->
                                        <div class="step active" data-target="#logins-part">
                                            <button type="button" class="step-trigger" role="tab"
                                                aria-controls="logins-part" id="logins-part-trigger" aria-selected="true">
                                                <span class="bs-stepper-circle">1</span>
                                                <span class="bs-stepper-label">Select Biller</span>
                                            </button>
                                        </div>
                                        <div class="line"></div>
                                        <div class="step" data-target="#information-part">
                                            <button type="button" class="step-trigger" role="tab"
                                                aria-controls="information-part" id="information-part-trigger">
                                                <span class="bs-stepper-circle">2</span>
                                                <span class="bs-stepper-label">Confirm Biller</span>
                                            </button>
                                        </div>
                                        <div class="line"></div>
                                        <div class="step" data-target="#payment-part">
                                            <button type="button" class="step-trigger" role="tab"
                                                aria-controls="payment-part" id="payment-part-trigger">
                                                <span class="bs-stepper-circle">3</span>
                                                <span class="bs-stepper-label">Payment</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="bs-stepper-content mt-4">
                                        <!-- your steps content here -->
                                        <div id="logins-part" class="content active dstepper-block" role="tabpanel"
                                            aria-labelledby="logins-part-trigger">
                                            <!-- <form action="/conf_bill" method="post"> -->
                                                <div class="row">
                                                    <!-- <div class="col-md-4"></div> -->
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <div class="col-md-3">
                                                                        <label for="trns_id">Transaction ID</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control"
                                                                            name="trns_id" id="trns_id"
                                                                            placeholder="Transaction ID" value="<%= JSON.parse(ref_no); %>" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <div class="col-md-3">
                                                                        <label for="trns_dt">Transaction Date and Time</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control"
                                                                            name="trns_dt" id="trns_dt"
                                                                            placeholder="Transaction Date and Time" value="<%= trns_dt; %>" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <div class="col-md-3">
                                                                        <label for="msg">Transaction Status</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control"
                                                                            name="msg" id="msg"
                                                                            placeholder="Transaction Status" value="<%= JSON.parse(msg); %>" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <div class="col-md-3">
                                                                        <label for="CatId">Biller Name</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control"
                                                                            name="BillarName" id="BillarName"
                                                                            placeholder="Biller Name" value="<%= blr_name; %>" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% var dtls = JSON.parse(pay);
                                                                dtls.forEach((data) => {
                                                                    %>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group row">
                                                                                <div class="col-md-3">
                                                                                    <label for="<%= data.Name %>"><%= data.DisplayName %></label>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <input type="text" class="form-control"
                                                                                        name="<%= data.Name %>" id="<%= data.Name %>"
                                                                                        placeholder="<%= data.DisplayName %>" value="<%= data.Value %>" readonly>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-4"></div> -->
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <!-- <a type="button" href="/fetch_bill"
                                                            class="btn btn-outline-danger btn-flat pull-left">
                                                            <i class="fa fa-caret-left mr-2"></i>Previous</a> -->
                                                        <button type="button"
                                                            class="btn btn-outline-success btn-flat pull-right"
                                                            onclick="">Print
                                                            <!-- <i class="fa fa-caret-right ml-2"></i> -->
                                                        </button>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>
                                            <!-- </form> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
        <%- include('../template/footer'); %>

        
        <script>
            function check(){
                if($('#BlrId').val() != ''){
                    return true;
                }else{
                    return false;
                }
            }
        </script>